a {
  text-decoration: none
  &:link {
    color: black
  }
  &:visited {
    color: black
  }
}

code {
  -webkit-box-shadow: none !important
  -moz-box-shadow: none !important
  box-shadow: none !important
  &:before {
    content: none !important
  }
  &:after {
    content: none !important
  }
}
